{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>风宇个人博客</title>
	</head>

	<link href="{% static 'plugin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
	<link href="{% static 'logo.ico' %}" rel="shortcut icon" />
	<script src="{% static 'plugin/jquery.min.js' %}"></script>
	<script src="{% static 'plugin/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'plugin/jquery.page.js' %}"></script>-->
	<!--<script src="{% static 'js/common.js' %}"></script>-->
	<!--<script src="{% static 'js/snowy.js' %}"></script>-->
	<!--editormd-->
	<link href="{% static 'css/editormd.min.css' %}" rel="stylesheet">
	  <link href="{% static 'css/editormd.preview.css' %}" rel="stylesheet">
	
	<body>
		<div class="w_header">
			<div class="container">
				<div class="w_header_top">
					<a href="#" class="w_logo"></a>
					<span class="w_header_nav">
					<ul>
						<li><a href="{% url 'index' %}" >首页</a></li>
						{% for category in category_list %}
						<li><a href="{% url 'selectCategory' category.id %}"
							{% if isActive == category.id %}
							class="active"
							{% endif %}
							>{{category.name}}</a></li>
							
						{% endfor %}
						
					</ul>
				</span>
					<div class="w_search">
						<div class="w_searchbox">
							<input type="text" placeholder="search" />
							<button>搜索</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="w_container">
			<div class="container">
				<div class="row w_main_row">
					{% block blogList %}
					{% endblock %}

					<!--右侧开始-->
					<div class="col-lg-3 col-md-3 w_main_right">

						<div class="panel panel-default sitetip">
							<a href="article_detail.html">
								<strong>站点公告</strong>
								<h3 class="title">嫁人就嫁程序员</h3>
								<p class="overView">个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中个人网站正在建设中。。。</p>
							</a>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">热门标签</h3>
							</div>
							<div class="panel-body">
								<div class="labelList">
									{% for tag in tags %}
									<a class="label label-default" href="/tag/jQuery选择器">{{tag.name}}</a>
									{% endfor %}
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">最新发布</h3>
							</div>
							<div class="panel-body">
								<ul class="list-unstyled sidebar">
									{% for article in article_list_new %}
									<li>
										<a href="/post/04928311">{{article.title}}</a>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">友情链接</h3>
							</div>
							<div class="panel-body">
								<div class="newContent">
									<ul class="list-unstyled sidebar shiplink">
										{% for url in links %}
										<li>
											<a href="{{url.url}}" target="_blank">{{url.name}}</a>
										</li>
										{% endfor %}										
									</ul>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">关注微信公众号</h3>
							</div>
							<div class="panel-body">
								<img src="img/qrcode.jpg" style="height: 230.5px;width: 230.5px;" />
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="w_foot">
			<div class="w_foot_copyright">Copyright &copy; 2017-2020, www.wfyvv.com. All Rights Reserved. <span>|</span>
				<a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">皖ICP备17002922号</a>
			</div>
		</div>
	</body>
	<script src="{% static 'js/editormd.min.js'%}"></script>
	<script src="{% static 'js/lib/marked.min.js'%}"></script>
	<script src="{% static 'js/lib/prettify.min.js'%}"></script>
	<script src="{% static 'js/lib/raphael.min.js'%}"></script>
	<script src="{% static 'js/lib/underscore.min.js'%}"></script>
	<script src="{% static 'js/lib/sequence-diagram.min.js'%}"></script>
	<script src="{% static 'js/lib/flowchart.min.js'%}"></script>
	<script src="{% static 'js/lib/jquery.flowchart.min.js'%}"></script>
	<script type="text/javascript">
		var $backToTopEle = $('<a href="javascript:void(0)" class="Hui-iconfont toTop" title="返回顶部" alt="返回顶部" style="display:none">^</a>').appendTo($("body")).click(function() {
			$("html, body").animate({ scrollTop: 0 }, 120);
		});
		var backToTopFun = function() {
			var st = $(document).scrollTop(),
				winh = $(window).height();
			(st > 0) ? $backToTopEle.show(): $backToTopEle.hide();
			/*IE6下的定位*/
			if(!window.XMLHttpRequest) {
				$backToTopEle.css("top", st + winh - 166);
			}
		};

		$(function() {
			$(window).on("scroll", backToTopFun);
			backToTopFun();
		});
		$(function () {
			// js 解析markdown
			editormd.markdownToHTML("content", {
				//htmlDecode      : "style,script,iframe",  // you can filter tags decode
				emoji           : true,
				taskList        : true,
				tex             : true,  // 默认不解析
				flowChart       : true,  // 默认不解析
				sequenceDiagram : true,  // 默认不解析
			});

			$(".reference-link").each(function (i,obj) {
				console.log(obj)
			})
		})
	</script>

</html>