{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="divMain">
	{% for article in article_list %}
<div class="post multi-post cate4 auth1">
	<h4 class="post-date">{{article.add_date}}</h4>
	<h2 class="post-title"><a href="{% url 'readArticle' article.id %}">{{article.title}}</a></h2>
	<div class="post-body"><p>
		{% if article.content|length >= 50 %}
			{{article.content| slice:'50'}}......
		{% else %}
			{{article.content}}
		{% endif %}
	</p></div>
	<h5 class="post-tags">Tags: <span class="tags">
			{% for tagInfo in article.tags.all %}
			<a href="#catalog.asp?tags=%E8%A7%89%E6%82%9F">{{tagInfo.name}}</a>&nbsp;&nbsp;
			{% endfor %}
	</span></h5>
	<h6 class="post-footer">
		发布:{{article.user_name}} | 分类:{{article.category.name}} | 评论:{{article.comments}} | 浏览:<span id="spn77"></span>
		<script type="text/javascript">LoadViewCount(77)</script> | <a href="#post/77.html">阅读全文 > </a>
	</h6>
</div> 
{% endfor %}
<div class="post pagebar"><a href="#"><span class="page first-page">&laquo;</span></a><span class="page now-page">1</span><a href="#catalog.asp?page=2"><span class="page">2</span></a><a href="#catalog.asp?page=3"><span class="page">3</span></a><a href="#catalog.asp?page=4"><span class="page">4</span></a><a href="#catalog.asp?page=5"><span class="page">5</span></a><a href="#catalog.asp?page=6"><span class="page">6</span></a><a href="#catalog.asp?page=7"><span class="page">7</span></a><a href="#catalog.asp?page=7"><span class="page last-page">&raquo;</span></a></div>
</div>
{% endblock %}